.box{
    border: 2px solid var(--primary);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);

}

.back{
    position: absolute;
    right: 13%;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}

.title a:hover{
    opacity: 0.5;
}

.title div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

form input{
    margin: 10px 0;
    border: 1px solid var(--primary);
    width: 200px;
    height: 23px;
    padding: 0 3px;
}

.buttons input{
    border: none;
    outline: none;
    width: 161px;
    height: 45px;
    background-color: var(--primary);
    border-radius: 4px;
    color: var(--white);
    margin-top: 10px;
}

.buttons input:hover{
    color: var(--secondary);
}

.divide{
    display: flex;
    justify-content: space-between;
}

.result{
    border: 2px solid var(--primary);
    width: 452px;
    padding: 30px;
    margin-bottom: 30px;
}

.result h3{
    font-weight: 600;
    margin-bottom: 10px;
}

.result p span{
    width: 207px;
    display: inline-block;
}

.function h3{
    margin: 10px 0;
    font-weight: 600;
}


.function p span{
    display: inline-block;
    width: 450px;
    margin-bottom: 10px;
}

.function p .second{
    background-color: aliceblue;
    display: inline-block;
    width: 500px;
}