.box{
    border: 2px solid var(--primary);
    padding: 30px;
    border-radius: 12px;
}

.back{
    position: absolute;
    right: 13%;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}

.title a:hover{
    opacity: 0.5;
}

.title div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

label {
    display: inline-block;
    width: 233px;
}

input{
    width: 199px;
    height: 23;
    padding: 0px 3px;
    margin-bottom: 10px;
    border: 1px solid var(--primary);
}


input[type="submit"]{
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: 30px;
}

input[type="submit"]:hover{
    color: var(--secondary);
}

.divide{
    display: flex;
    justify-content: space-between;
}

.result{
    border: 2px solid var(--primary);
    padding: 30px;
    width: 522px;
}

.result p span{
    display: inline-block;
    width: 200px;
}

.result h3{
    font-weight: bold;
}